<div class='row d-flex justify-content-center align-items-center text-center' style="height: 100vh">

  <div
    class="col-12 col-md-10 col-lg-6 border border-secondary shadow-lg m-auto h-50 p-1 p-md-5
     d-flex flex-column justify-content-center rounded-3">

    <h2>Sign In <i class="bi bi-box-arrow-in-right text-pink"></i></h2>

    <div class="row-cols-1 mt-2">
      <form [formGroup]="loginForm">
        <div class="form-floating mt-2">
          <input formControlName="email" type="email" class="form-control text-bg-secondary" id="name"
                 placeholder="name@example.com">
          <label class="form-label" for="name">Email</label>
        </div>

        <div class="form-floating mt-2">
          <input formControlName="password" type="password" class="form-control text-bg-secondary" id="password"
                 placeholder="This is a password">
          <label class="form-label" for="password">Password</label>
        </div>
      </form>
    </div>

    <div class="row d-flex mt-2">
      <div class="col-12 col-md-8 m-auto mt-2">
        <a routerLink="/auth/register"> Do you have no an account? </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 mt-2">
        <button class="btn btn-outline-secondary w-100">
          <i class="bi bi-google text-pink"></i>oogle
        </button>
      </div>
      <div class="col-12 col-md-8 mt-2">
        <button
          [disabled]="loginForm.invalid"
          type="submit"
          class="btn btn-outline-pink w-100"
          (click)="onLogin()"
        >sign-in</button>
      </div>
    </div>

  </div>


</div>
