<div class='row d-flex justify-content-center align-items-center text-center' style="height: 100vh">

  <div
    class="col-12 col-md-10 col-lg-6 border border-secondary shadow-lg m-auto h-75 p-1 p-md-5 d-flex flex-column justify-content-center rounded-3">

    <div class="position-relative">
      <a
        routerLink="/auth/login"
        class="btn btn-outline-secondary float-start">
        <i class="bi bi-back text-pink"></i> Back</a>
    </div>

    <h2>Sign Up <i class="bi bi-box-arrow-in-right text-pink"></i></h2>

    <div class="row mt-2">

      <form [formGroup]="registerForm">
        <div class="col-12">

          <div class="form-floating mt-2">
            <input formControlName="userName" type="text" class="form-control text-bg-secondary" id="username"
                   placeholder="Crazy boy">
            <label class="form-label" for="username">Username</label>
          </div>

          <div class="form-floating mt-2">
            <input formControlName="email" type="email" class="form-control text-bg-secondary" id="name"
                   placeholder="name@example.com">
            <label class="form-label" for="name">Email</label>
          </div>

          <div class="form-floating mt-2">
            <input formControlName="password" type="password" class="form-control text-bg-secondary" id="password"
                   placeholder="This is a password">
            <label class="form-label" for="password">Password</label>
          </div>

        </div>
      </form>

    </div>

    <div class="row mt-2">
      <div class="col-12 col-md-4 m-auto mt-2">
        <button
          (click)="onSignInWithGoogle()"
          class="btn btn-outline-secondary w-100">
          <i class="bi bi-google text-pink"></i>oogle
        </button>
      </div>
      <div class="col-12 col-md-8 m-auto mt-2">
        <button type="submit"
                [disabled]="registerForm.invalid"
                class="btn btn-outline-pink w-100"
                (click)="onSignUp()"
        >sign-up
        </button>
      </div>
    </div>

  </div>
</div>
