<div [ngClass]="todo?.done ? 'text-decoration-line-through' : ''">

  <div class="row text-center">
    <span class="text-body-tertiary">Title:</span>
    <h1 class="text-pink">{{todo?.title}}</h1>
  </div>

  <div class="row mt-3">
    <span class="text-body-tertiary">Description:</span>
    <p class="text-pink">{{todo?.description}}</p>
  </div>

  <div class="row mt-3">
    <span class="text-body-tertiary">Created At:</span>
    <p class="text-pink">{{todo?.createdAt}}</p>
  </div>

  <div class="row mt-3">
    <span class="text-body-tertiary">Last Modification:</span>
    <p class="text-pink">{{todo?.lastModification}}</p>
  </div>

</div>
