<div class="container-sm d-inline-flex">
  <div class="ms-auto hstack p-3 p-md-5">

    <button class="btn btn-sm btn-outline-pink rounded-5"
            (click)="openList()"><i class="bi bi-card-checklist"></i>
    </button>

    <button class="btn btn-sm btn-outline-teal rounded-5 ms-1"
            (click)="openModalOnAddMode()"
    ><i class="bi bi-plus"></i>
    </button>

    <button class="btn btn-sm btn-outline-indigo rounded-5 ms-1"
            (click)="openModal()"
            [disabled]="!(activatedTodo | async)"
    ><i class="bi bi-pencil-square"></i>
    </button>

    <button class="btn btn-sm btn-outline-danger rounded-5 ms-1"
            (click)="onDeleteTodo()"
            [disabled]="!(activatedTodo | async)"
    ><i class="bi bi-trash-fill"></i>
    </button>

  </div>
</div>
