<app-navbar></app-navbar>


<div *ngIf="(errorMessage | async)" class="d-flex justify-content-center align-items-center">
    <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<div *ngIf="!(errorMessage | async)" class="container-sm p-3 p-sm-5">

    <div>
        <div class="row-cols-1">
            <div class="d-flex justify-content-center align-items-center">

                <app-todo-list></app-todo-list>

            </div>
        </div>

        <hr class="text-pink m-5">

        <div class="row-cols-1">
            <div class="d-flex justify-content-center align-items -center">
                <div class="bg-danger-subtle rounded-5 p-5">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>


</div>
